* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #f4f4f4;
    font-size: 1.6rem;
    font-family: 'Arial', sans-serif;
    margin: 1rem;

}

.header {
    height: 9rem;
    background-color: #f4f4f4;
    margin: 10px auto;
}

.header__navbar {
    color:indianred;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    font-weight: bold;
    height: 40%;
}

.header__navbar ul {
    width: 100%;
    background-color: #d6d6d6;
    display: inherit;
}
.header__navbar ul li {
    list-style: none;
    outline: 1px solid greenyellow;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__navbar ul li:hover {
    background-color: indianred;
    color: white;
}

.footer {
    background-color: #f4f4f4;
    height: 6rem;
    margin-top: auto;
}

.hero {
    height: 12rem;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    margin: 1.5em auto;
    padding: 0 1em;

}

.hero h2 {
    color: indianred;
    font-weight: bold;
}

.hero h3 {
    font-weight: bold;
}

.hero p {
	line-height: 200%;
	margin-bottom: 20px;
	font-size: 1rem;
}

.container {
    border: 2px solid gray;
    padding: .2rem;
    box-sizing: border-box;
    height: 122px;
}


.container img  {
    width: 100%;
    height: 100%;
    align-items: stretch;
    object-fit: cover;
}

.entries__container {
    background-color: white;
    padding: 0 1em;

}

.entry__container {
    border-bottom: 1px lightcoral solid ;
    display: flex;
    max-height: 200px;
    padding-top: 1em;
}

.entry__date {
    width: 25%;
}

.entry__date p {
    font-size: .8em;
}

.entry__blog button {
    cursor: pointer;
    font-weight: bold;
    color: indianred;
    font-size: .8rem;
    background: transparent;
    border: none;
    margin: .8% auto;
}

.entry__blog h2, button {
    color:indianred;
}

.entry__date p>span {
    font-weight: bold;
    color: indianred;
    font-size: .8rem;
}

.cat {
    background-color: white;
    display: flex;
    align-items: center;
    flex-flow: row wrap ;
    padding: 0 1em;
    margin: 10px auto;
}

.cat figure {
    flex: 0 0 35%;
}

.cat aside {
    flex: 1;

}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul {
    display: flex;
}

.footer ul li {
    list-style: none;
    margin: .5em;
}

.footer ul li  img{
    height: 50px;
    width: 50px;
}

@media screen and (max-width: 768px) {

    .header {
        height: 12rem;
    }
    .header__navbar {
        height: 90%;
    }

    .header__navbar ul {
        flex-direction: column;
    }}